<!-- Site Footer -->
<div class='feltnerm-site-footer'>
    <footer>
        <div class="feltnerm-footer-social">
            <ul class="inline-list">
                <li><a href="https://github.com/{{ GITHUB_USERNAME }}">github</a> · </li>
                <li><a href="https://twitter.com/{{ TWITTER_USERNAME }}">twitter</a> · </li>
                <li><a href="http://www.last.fm/user/{{ LASTFM_USERNAME }}">last.fm</a> · </li>
                <li><a href="mailto:mark+blog@feltner.me">email</a></li>
            </ul>
        </div>
        <div class="feltnerm-footer-meta">
            <ul class="inline-list">
                <li><a href="{{ SITE_URL }}/feeds/all.rss.xml">rss</a> · </li>
                <li><a href="{{ SITE_URL }}/feeds/all.atom.xml">atom</a> · </li>
                <li><a href="{{ SITE_URL }}/style-guide">style</a> · </li>
                <li><a href="{{ SITE_URL }}/credits">credits</a></li>
            </ul>
        </div>
        <div class="feltnerm-footer-copyright">
            <p>© 2022, Mark Feltner
            <p>This <span xmlns:dct="http://purl.org/dc/terms/" href="http://purl.org/dc/dcmitype/Text" rel="dct:type">work</span> is licensed under a
                <br><a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.</p>
        </div>
    </footer>
</div>
