{% extends "base.html" %}
{% block title %}blog | {{ SITENAME }}{% endblock %}
{% block content %}
<div class="feltnerm-index">
    <header>
        <h2><a href="{{ SITEURL }}/blog/">Blog</h2>
    </header>
    {% include "includes/blog-nav.html" %}
    <ol class='inline-list'>
    {% for article in dates %}
        <li>
            <div class='feltnerm-index-article'>
                <article itemscope itemtype="http://schema.org/BlogPosting">
                    <div class='feltnerm-index-article-header'>
                        <header>
                            <h3 itemprop="name">
                                <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
                            </h3>
                        </header>
                    </div>
                    <div class='feltnerm-index-article-meta'>
                        <span class='feltnerm-index-article-meta-date'>
                            <time itemprop="datePublished" datetime="{{ article.date.isoformat() }}" content="{{ article.date.isoformat() }}">{{ article.date | strftime('%B %d, %Y') }}</time>
                        </span>
                    </div>
                    <div class='feltnerm-index-article-about'>
                        <section itemprop="about" class="typeset">
                            {{article.about }}
                        </section>
                    </div>
                </article>
            </div>
        </li>
    {% endfor %}
    </ol>
</div>
{% endblock content %}
