{% extends "base.html" %}
{% block title %}archives | {{ SITENAME }}{% endblock %}
{% block content %}
<div class="feltnerm-period-archives">
    <header>
        <h2><a href="/blog/archive">Archives</a> for {{ period | reverse | join(' ') }}</h1>
    </header>
    {% include 'includes/blog-nav.html' %}
    <dl>
    {% for article in dates %}
        <dt>
            <a href="{{ SITEURL }}/blog/{{ article.date|strftime('%Y') }}/{{ article.date|strftime('%m') }}/{{ article.date|strftime('%d') }}">
                {{ article.date|strftime('%d') }}
            </a>
            <a href="{{ SITEURL }}/blog/{{ article.date|strftime('%Y') }}/{{ article.date|strftime('%m') }}">
                {{ article.date|strftime('%B') }}
            </a>
            <a href="{{ SITEURL }}/blog/{{ article.date|strftime('%Y') }}">
                {{ article.date|strftime('%Y') }}
            </a>
        </dt>
        <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
    {% endfor %}
    </dl>
</div>
{% endblock %}
