.feltnerm-container,body,html{
    height:100%;
    margin:0
}
.browsehappy{
    background:#ccc;
    color:#000;
    margin:.2em 0;
    padding:.2em 0
}
time{
    font-style:italic
}
code{
    font-family:monospace
}
.highlight pre{
    background-color:#f7f7f7;
    padding:16px
}
pre>code{
    font-family:monospace
}
span.center{
    display:block;
    text-align:center
}
span.justify{
    display:block;
    text-align:justify;
}
ol.inline-list,ul.inline-list{
    list-style-type:none;
    padding-left:0
}
ol.inline-list>li,ul.inline-list>li{
    display:inline
}
.feltnerm-container{
    margin:16px 10%
}
.feltnerm-site-footer{
    text-align:center
}
